{% extends "submission-screen.html" %} 


{% block left %}

<div class="c2-monitor">
  <div class="top-row">
    <div class="main-value">1:45.6</div>
  </div>

  <div class="date-row">June 9, 2025</div>

  <div class="column-labels">
    <div>Time</div>
    <div>Meters</div>
    <div>/500m</div>
    <div>SPM</div>
  </div>

  <div class="data-row">
    <div>6:00.0</div>
    <div>2000</div>
    <div>1:30.0</div>
    <div>32</div>
  </div>

  <div class="data-row">
    <div>6:00.0</div>
    <div>2000</div>
    <div>1:30.0</div>
    <div>32</div>
  </div>
</div>


{% endblock %}


{% block maincontent%}

Hello


{% endblock %}
