{% extends "base.html" %}

{% block title %}HardHat Rowing - Sign Up{% endblock %}

{% block maincontent %}
<h2>My Groups</h2>
<ul>
{% for group_id, group_name in user_groups %}
<li>
    <a href="/groups/{{group_id}}"> {{group_name}} </a>
   </li>
{% endfor %}

</ul>
{% endblock %}

{% block rightsidebar%}
<h3>Join a Group</h3>


  <form method="post">
    <input type="hidden" name="form_type" value="join_group">
    <input name="group_id" type="text" placeholder="Enter Group ID" required>
    <br>
    <button type="submit">Join Group</button>
</form>

<h3>Create a Group</h3>


  <form method="post">
    <input type="hidden" name="form_type" value="create_group">
    <input name="group_name" type="text" placeholder="New Group Name" required>
    <br>
    <button type="submit">Create Group</button>
</form>
{% endblock %}